version: "3.9"

services:

  server:
    build: .
    container_name: labtest1-server
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/labtest1
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: labtest1-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
